# 기본검색 및 정렬

```MySQL
SELECT[칼럼명들](","를 통해서 구분)
FROM[테이블명]
WHERE[조건들](and, or 연산자를 통해서 구분)
ORDER BY[칼럼명들](","를 통해서 구분)
```

# 그룹 제어

```MySQL
SELECT[GROUP BY에서 사용된 칼럼명들, 집계함수]
FROM[테이블명]
WHERE[조건들]
GROUP BY[칼럼명들](","를 통해서 구분)
HAVING[GROUP BY절에 해당하는 조건들](","를 통해서 구분)
```

# 분기문

## 1. SIMPLE_CASE_EXPRESSION

```MySQL
SELECT
    (CASE[칼럼명] WHEN[비교값1]THEN[반환값1]
                  WHEN[비교값2]THEN[반환값2]
     ELSE[WHEN절 이외의 조건일 때 반환될 값]
     END)AS[별칭 칼럼명]
FROM[테이블명]
```

## 2. SEARCHED_CASE_EXPRESSION

```MySQL
SELECT
    (CASE WHEN[조건문1]THEN[반환값1]
          WHEN[조건문2]THEN[반환값2]
     ELSE[WHEN절 이외의 조건일 때 반환될 값]
     END)AS[별칭 칼럼명]
FROM[테이블명]
```

# 집합연산

## 1. UNION(중복제거O)

```MySQL
SELECT[칼럼1]
      ,[칼럼2]
      ,[칼럼3]
FROM[테이블명1]
UNION
SELECT[칼럼1]
      ,[칼럼2]
      ,[칼럼3]
FROM[테이블명2]
```

## 2. UNION ALL(중복제거X)

```MySQL
SELECT[칼럼1]
      ,[칼럼2]
      ,[칼럼3]
FROM[테이블명1]
UNION ALL
SELECT[칼럼1]
      ,[칼럼2]
      ,[칼럼3]
FROM[테이블명2]
```

# 순위집계

## 1. RANK

```MySQL
SELECT RANK()OVER(PARTITION BY[그룹할 칼럼들]ORDER BY[순위를 매길때 사용할 칼럼들])
FROM[테이블명1]
```

- 예) 1등(100점), 2등(90점), **3등(85점), 3등(85점), 3등(85점), 6등(80점)**, 7등(79점)

## 2. DENSE_RANK

```MySQL
SELECT DENSE_RANK()OVER(PARTITION BY[그룹할 칼럼들]ORDER BY[순위를 매길때 사용할 칼럼들])
FROM[테이블명1]
```

- 예) 1등(100점), 2등(90점), **3등(85점), 3등(85점), 3등(85점), 4등(80점)**, 5등(79점)

## 3. ROW_NUMBER

```MySQL
SELECT ROW_NUMBER()OVER(PARTITION BY[그룹할 칼럼들]ORDER BY[순위를 매길때 사용할 칼럼들])
FROM[테이블명1]
```

- 예) 1등(100점), 2등(90점), **3등(85점), 4등(85점), 5등(85점), 6등(80점)**, 7등(79점)

# 조인

## 1. INNER JOIN

```MySQL
SELECT *
FROM[테이블1] AS A
INNER JOIN[테이블2] AS B
ON A.KEY = B.KEY
```

## 2. OUTER JOIN

### 1) LEFT OUTER JOIN

```MySQL
SELECT *
FROM[테이블1] AS A
LEFT OUTER JOIN[테이블2] AS B
ON A.KEY = B.KEY
```

### 2) RIGHT OUTER JOIN

```MySQL
SELECT *
FROM[테이블1] AS A
RIGHT OUTER JOIN[테이블2] AS B
ON A.KEY = B.KEY
```

## 3. FULL OUTER JOIN

```MySQL
SELECT *
FROM[테이블1] AS A
FULL OUTER JOIN[테이블2] AS B
ON A.KEY = B.KEY
```

## 4. SELF JOIN

```MySQL
SELECT *
FROM[테이블1] AS A
JOIN[테이블1] AS B
ON A.NAME = B.MANAGER
```

## 5. CROSS JOIN

```MySQL
SELECT * 
FROM[테이블1] AS A
CROSS JOIN[테이블2] AS B
```

# 집계 함수

```MySQL
SELECT 집계함수 FROM 테이블명
```

## 1. MAX([칼럼명])
- 명시된 칼럼 내 값들 중 최대값을 반환

## 2. MIN([칼럼명])
- 명시된 칼럼 내 값들 중 최소값을 반환

## 3. COUNT([칼럼명])
- 명시된 칼럼 내 값의 전체 행 수를 반환(NULL값은 제외)

## 4. SUM([칼럼명])
- 명시된 칼럼의 데이터 타입이 숫자일 경우, 해당 칼럼 내 모든 데이터의 합을 반환(NULL값은 제외)

## 5. AVG([칼럼명])
- 명시된 칼럼의 데이터 타입이 숫자일 경우, 해당 칼럼 내 모든 데이터의 평균을 반환(NULL값은 제외)

# 문자열 함수

```MySQL
SELECT 문자열함수
```

## 1. SUBSTRING(string, int, int)
- 첫번째 명시한 문자열의 부분 문자열을 잘라오기

## 2. LTRIM(string), LTRIM(string, string) / RTRIM(string), RTRIM(string, string)
- 명시한 문자열의 좌측/우측 공백을 제거함. 특정문자 제거

## 3. LPAD(string, n, string) / RPAD(string, n, string)
- 첫번째 명시한 문자열에 길이가 n이 되도록 좌측/우측부터 세번째 명시한 문자열로 채운 표현식을 반환

## 4. REPLACE(string, string_pattern, string_replacement)
- 첫번째 명시된 문자열 중 string_pattern에 해당하는 문자열을 string_replacement 문자열로 변환

## 5. LENGTH(string)
- 명시된 문자열의 길이를 구하여 반환

# 날짜 함수

```MySQL
SELECT 날짜함수
```

## 1. NOW()
- 현재의 날짜 및 시간을 출력

## 2. AGE(timestamp, timestamp) / AGE(timestamp)
- 두 날짜 사이의 시간차이를 계산/ 현재 날짜와 첫번째 명시한 날짜의 시간 차이를 계산

## 3. DATE_PART(text, timestamp)
- 두번째 명시한 timestamp에서 첫번째 명시한 날짜 키워드 인자에 해당하는 값을 추출

## 4. DATE_TRUNC(text, timestamp)
- 두번째 명시된 timestamp에서 첫번째 명시한 날짜 키워드 인자에 해당하는 값 이하의 날짜데이터를 Default처리하고 반환

# 그외 문제에 사용되는 함수

```MySQL
SELECT 그외함수
```

## 1. TO_CHAR(timestamp, text)
- 첫번째로 명시된 timestamp값을 두번째 인자의 포맷 문자열로 변환하여 반환

## 2. COALESCE(value, ex1, ex2, ...)
- 첫번째로 명시된 인자가 null일 경우 두번째 인자를 반환, 두번째 인자가 null일 경우 세번째 인자를 반환...순차적으로 반환

## 3. CAST(source_type as target_type)
- 첫번째 명시된 source_type을 두번째 인자로 명시된 target_type으로 변환하여 반환

## 4. ROUND(v numeric, s int)
- 첫번째 명시된 v값을 소수점 s자리까지 반올림하고 s자리 미만은 버림